
/* Generic styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 42px;
}
/* nav bar styles */
.nav{
    background-color: #2B78E4;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
li{
    list-style: none;
    border-right: 2px solid black;
}
li img{
    width: 50px;
}
span{
    color: white;
}

/* removing border from last 2 nav links */
a{
    color: white;
    padding-right: 20px;
}
li:last-child, li:nth-last-child(2){
    border: none;
}

input{
    border-radius: 10px;
}
/* Main section */

main{
    border-inline: 2px solid black;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}
/* popup style */
.popup{
    /* border: 2px solid red; */
    display: none;
    border-radius: 20px;
    background-color: rgb(192, 189, 189);
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 45%;
}
.popup p{
    border-bottom: 2px solid black;
}
.popup-bttn{
    background-color: rgb(192, 189, 189);
    box-shadow: none;
    color: black;
    border: none;
}

/* Featured product */ 
.featured-products{
    border-bottom: 2px solid black;
}
.featured-products img{
    width: 100%;
}
button{
    background-color: #6AA84F;
    color: white;
    box-shadow: 3px 6px 5px -4px rgba(0,0,0,0.75);
    padding: 4px 8px;
    cursor: pointer;
}
.mb-small{
    margin-bottom: 15px;
}

/* other heroic products */
.other-products{
    margin-top: 10px;
}
.product-list{
    display: flex;
    justify-content: space-between;
}
.product{
    width: 15%;
    border: 2px solid black;
    text-align: center;
}
.product img{
    height: 250px;
}
/* Footer styles */
footer{
    background-color: #2B78E4;
    color: white;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}