*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.circle{
    /* position: absolute;
    top: 500px;
    left: 500px;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%; */
    position: relative;
    left: 500px;
    top: 500px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #f0d647;
    border-radius: 100%;
    /* transition: transform .05s ease; */
}